<div [@routerTransition] style="height: 600px">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/inicio']">Inicio</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/ciclo']">Ciclos</a>
      </li>
      <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
  </nav>

  <form [formGroup]="cicloForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="ciclo" class="col-sm-2 col-form-label">Ciclo</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="ciclo" placeholder="Ciclo" formControlName="CICLO" [ngClass]="{'is-invalid': cicloForm.dirty && !cicloForm.controls.CICLO.valid }">
        <div *ngIf='!cicloForm.controls.CICLO.valid' class="invalid-feedback">
          Campo Requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" formControlName="DESCRIPCION" [ngClass]="{'is-invalid': cicloForm.dirty && !cicloForm.controls.DESCRIPCION.valid }">
        <div *ngIf='!cicloForm.controls.DESCRIPCION.valid' class="invalid-feedback">
          Campo Requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="activo" class="col-sm-2 col-form-label">Activo</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="activo" placeholder="activo" formControlName="ACTIVO" [ngClass]="{'is-invalid': cicloForm.dirty && !cicloForm.controls.ACTIVO.valid }">
        <div *ngIf='!cicloForm.controls.ACTIVO.valid' class="invalid-feedback">
          Campo Requerido
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary" [disabled]="!cicloForm.valid">Guardar</button>
      </div>
    </div>
  </form>
</div>