.table-fixed {
    height: 300px;
    overflow: auto;
}

.table-fixed-expand {
    height: 100%;
}
  
.bordered-bottom {
    border: 1px solid #e9ecef; 
}

.table-height{

}

.btn-cursor{
	cursor: pointer;
}

.i-success{
	font-size: 120px;
}

.table-center{
	margin: 0 auto;
}

.p-msg{
	font-size: 20px
}