<div [@routerTransition] style="height: 600px">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/inicio']">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Catálogo de Producto</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-faded">
          <span class="pull-left">Productos</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-success mb-2" [routerLink]="['/producto/edit', 0]">
                Nuevo
              </a>
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID_PRODUCTO</th>
                <th>PRODUCTO</th>
                <th>DESCRIPCION</th>
                <th>ACTIVO</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let p of productos'>
                <td>{{ p.ID_PRODUCTO}}</td>
                <td>{{ p.PRODUCTO}}</td>
                <td>{{ p.DESCRIPCION}}</td>
                <td>{{ p.ACTIVO}}</td>
                <td>
                  <a class="btn btn-primary" [routerLink]="['/producto/edit', p.ID_PRODUCTO]">
                    Editar
                  </a>
                  <a class="btn btn-danger" (click)='deleteProducto(p.ID_PRODUCTO)'>
                    Borrar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>